body { 
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
}

#container { 
    font-size: 12px;
    width: 1000px;
}

a{
	text-decoration: none;
	text-transform:none;
	color:#333
}