/* Screen */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body{
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #5a5a5a;
    padding-top: 0;
    -webkit-font-smoothing: auto!important;
}

img{ 
    max-width: 100%;
    /*@include transition(opacity 0.2s);*/
}

/*a {
color: $link-color;
}*/

.pag-section.pag-section-first{
    padding-top:90px;
}
.pag-section{
    position: relative;
    margin:0;
    padding: 90px 0;
}

.pag-section.pag-section-neutral{
    margin-bottom: 0;
}

.pag-section.pag-section-nopadding{
    padding:0
}

.pag-section + .hero{
    margin-top: -40px;
}
.pag-section-neutral + .pag-section{
    padding: 90px 0;
}

.hero{
    margin: 0;
    border: none;
    box-shadow: none;
    background: #1C3A64 url(../img/assets/pattern-noise.jpg) repeat;

    .flex-control-nav{
        bottom: 20px;
    }
    .flex-control-paging li a{
        position: relative;
        background: #fff;
        box-shadow: none;
        width: 14px;
        height: 14px;
        border-radius: 7px;
        &:before{
            content: ' ';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background: #f5f5f5;
        }
    }
    .flex-control-paging li a.flex-active:before{
        content: ' ';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: #4a4a4a;
    }

    a.flex-prev,a.flex-next{
        color: #fff;
    }

    a.flex-prev:before{
        font-family: "entype";
        font-size: 48px;
        line-height: 1;
        display: inline-block;
        content: "\e6d1";
        text-shadow: none;
    }
    a.flex-next:before{
        font-family: "entype";
        font-size: 48px;
        line-height: 1;
        display: inline-block;
        content: "\e6d4";
        text-shadow: none;
    }
}

.page-hero{
    position: relative;
    /*background: #234f92 no-repeat 50% 0 / cover fixed;*/
    background: #1C3A64  url(../img/assets/pattern-noise.jpg) repeat;
    .page-info{
        margin: 130px 0 18px;
        max-width: 500px;
    }
    .page-info .page-info-title{
        display: inline-block;
        font-size: 28px;
        font-size: 2.8rem;
        line-height: 3.4rem;
        font-weight: 400;
        color: #fff;
        padding-right: 50px;
        padding-bottom: 12px;
        border-bottom: solid 1px #A7B2C2;
    }
    .page-info .page-info-subtitle{
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 300;
        color: #fff;
    }
    img{
        width: 100%;
    }
}

.page-info .breadcrumb{
    background: none;
    border-radius: 0;
    padding: 12px 0;
    margin: 0;
}

.page-info .breadcrumb > li + li:before{

}
.page-info .breadcrumb a{
    color: #fff;
    font-weight: 300;
}

.pag-section + #footer{
    margin-top: -40px;
}
.pag-section + .section-primary{
    margin-top: -40px;
}

.slides{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.section-gray{
    background: #E9EAED;
}
.section-primary{
    background: $primary;
    padding: 100px 0;
}

.section-dark{
    background: #2f2f2f;
}

.section-primary p{color: #fff;}
.section-primary-condensed{
    @extend .section-primary;
    padding: 50px 0;
}

.title-lg-plus{ 
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 40px;
    line-height: 4rem;
    color: #2a2a2a;
    font-weight: 300;
}
.section-primary .title-lg-plus{
    color: #fff;
}

.section-light-gray{
    background: #f8f8f8;
}

.title-md{
    font-size: 18px;
    font-size: 1.8rem;
    color: #333;
    font-weight: 400;
}

.text-lg{
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 24px;
    line-height: 2.4rem;
    color: #333;
    font-weight: 300;

    strong{
        font-weight: 400;
    }
}

.text-md{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 22px;
    line-height: 2.2rem;
    color: #6a6a6a;
    font-weight: 300;
    letter-spacing: 0.04rem;

    strong{
        font-weight: 400;
    }
}

.painel{
    padding:36px;
    background: #fff;
    margin-bottom: 18px;
}

.painel > .painel-title{
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 2.2px;
    line-height: 2.2rem;
    color: $primary;
    font-weight: 700;
}

.painel p{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.8rem;
    color: #6a6a6a;
    font-weight: 300;
}

.painel-lg > .painel-title{
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 28px;
    line-height: 2.8rem;
}

.painel-lg p{
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 24px;
    line-height: 2.4rem;
}

.painel-floating-home{
    position: absolute;
    display: inline-block;
    bottom: -130px;
    z-index: 500;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    max-width: 370px;
}

.painel-highlight{
    background: $primary;
}
.painel-highlight .painel-highlight-left{
    display: inline-block;
    vertical-align: top;
    width: 80%;
    text-align: center;
}
.painel-highlight .painel-highlight-right{
    float: right;
    width: 20%;
    text-align: center;
    background: #fde7d2;
}
.painel-highlight h3{
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 90px;
    line-height: 9rem;
    text-align: center;
    margin: 0;
    color: #fff;
    font-weight: 300;
}
.painel-highlight h4{
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 90px;
    line-height: 9rem;
    text-align: center;
    margin: 0;
    color: $primary;
    font-weight: 400;
}
.painel-gray{
    background: #f8f8f8;
}
.painel-gray p{
    color: #5a5a5a;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.8rem;
    font-weight: 400;
}
.section-title-centered{
    margin: 0 auto 90px;
    max-width: 680px;
}
.section-title-centered > h2{
    text-align: center;
    color: $primary;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin: 0 0 6px;
    text-transform: uppercase;
}
.section-title-centered > p{
    text-align: center;
    margin: 15px 0 0;
}
.section-title-centered > .text-lg{
    color: #565F69;
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 38px;
    line-height: 3.8rem;
    font-weight: 300;
    margin: 0;
}
.section-title{
    margin: 0 0 45px;
}
.section-title > h2{
    color: $primary;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin: 0 0 6px;
    text-transform: uppercase;
}
.section-title > p{
    margin: 15px 0 0;
}
.section-title > .text-lg{
    color: #565F69;
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 38px;
    line-height: 3.8rem;
    font-weight: 300;
    margin: 0;
}
.thumb{
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin: 0 auto 40px;
    max-width: 400px;
}

.thumb a{
    color: #7a7a7a;
    &:hover{ text-decoration: none; }
}
.thumb img{
    @include transform(scale(1.2));
    @include transition(.2s ease);
}

.thumb-img{
    position: relative;
    overflow: hidden;
}
.thumb-title{
    position: relative;
    padding: 0 20px;
    background: #e9edec;
    &:before{
        font-family: "entype";
        font-size: 14px;
        line-height: 40px;
        display: inline-block;
        float: right;
        content: "\e6d4";
        text-shadow: none;
    }
}
.thumb-title p{
    margin: 0;
    color: #6a6a6a;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 40px;
    line-height: 4rem;
    font-weight: 300;
}

.thumb:hover{
    img{
        @include transform(scale(1));
    }
}

.section-group{
    margin-bottom: 25px;
}

#footer{}
#footer .footer-content{
    background: #303132;
    padding: 90px 0 80px;
}
#footer .footer-bottom{
    background: #28292A;
    padding: 30px 0;
}
#footer .footer-bottom p{
    margin: 0;
}
#footer .footer-bottom .copyright{
    margin: 6px 0;
}

#footer .footer-title{
    color: #fff;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 16px;
    line-height: 1.6rem;
    font-weight: 700;
    margin: 15px 0 25px;
    text-transform: uppercase;
}
#footer .footer-content ul{
    @extend .list-unstyled;
}
#footer .footer-content ul li{}
#footer a{
    color: #9a9a9a;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 16px;
    line-height: 1.6rem;    
    font-weight: 400;
}

.brand-footer{
    margin: 0 0 20px;
}

.footer-contact{}
.footer-contact .footer-contact-icon{
    color: #fff;
    font-size: 16px;
    font-size: 1.6rem;
    float: left;
    margin-right: 5px;
}
.footer-contact .footer-contact-text{
    color: #9a9a9a;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 16px;
    line-height: 1.6rem;
    overflow: hidden;
}

.dropdown-hover{}
.dropdown-hover:hover{
    > a{
        color: #353736 !important;
        background: #fff !important;
        border-color: #fff !important;
    }
    .dropdown-menu{
        display: block;
    }
}

.navbar .dropdown-menu{
    background: #fff;
    border: none;
    border-radius: 0;
}
.navbar .dropdown-menu > li{}
.navbar .dropdown-menu > li > a{
    color: #2a2a2a;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 28px;
    text-transform: uppercase;
}
.navbar .dropdown-menu > li > a:hover{
    color: #e9e9e9;
    background: darken(#353736, 2%);
}

.section-pattern{
    background: url(../img/assets/section-pattern-1.png) repeat;
    background-attachment: fixed;
    box-shadow: inset 0 2px 5px rgba(0,0,0,.025);
}

.content-wrapper{
    position: relative;
    background: #fff;
    left: 0;
    z-index: 5;
}

.hamburger{
    position: relative;
    display: none;
    margin-top: 0;
    margin-right: 0;
    width: 60px;
    padding: 21px 20px;
    float: right;
}

.hamburger span{
    position: relative;
    display: inline-block;
    top: -2px;
    height: 2px;
    width: 100%;
    background: #4a4a4a;
}

.hamburger span:before{
    content: '';
    position: absolute;
    top: -6px;
    height: 2px;
    width: 100%;
    background: #4a4a4a;
}
.hamburger span:after{
    content: '';
    position: absolute;
    top: 6px;
    height: 2px;
    width: 100%;
    background: #4a4a4a;
}

.mobile-menu{
    position: absolute;
    display: none;
    top: -288px;
    height: 288px;
    width: 100%;
    background: #353736;
}

.mobile-menu .mobile-menu-list{}
.mobile-menu .mobile-menu-list > ul{ margin: 0; }
.mobile-menu .mobile-menu-list li{}
.mobile-menu .mobile-menu-list li > a{
    display: block;
    font-size: 1.4rem;
    color: #9a9a9a;
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    text-transform: uppercase;
    &:hover{
        text-decoration: none;
        background: darken(#353736, 2%);
    }
}

.pag-section-home{
    padding-top: 100px;
}

.thumb-2{
    position: relative;
    display: inline-block;
}
.thumb-2 .thumb-open-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
    font-size: 2rem;
    color: #fff;
}

.input-required:after{
    content: '*';
    float: right;
    color: #ff0000;
    font-size: 14px;
    font-size: 1.4rem;
    margin-left: 5px;

}

.form-control.invalid{
    border-color: #ff0000;
    background: #ffcccc;
}

/* SCROLLING */

.navbar-fixed-top{
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    @include transition-transform(.4s cubic-bezier(.34,.09,.43,.96));
    @include transform(translate3d(0,-60px,0));
}

.navbar.navbar-fixed-top .brand{
    background: url(../img/brand.png) no-repeat 0 0 / 190px 46px;
    /*background-image: url(../img/brand.svg);*/
    margin: 6px 0;
    height: 46px;
}

.navbar.navbar-fixed-top .navbar-nav > li > a{
    color: #6a6a6a;
    border-top: solid 1px rgba(0,0,0, 0.05);
    height: 58px;
    line-height: 58px;
    &:hover,&:focus,&:active{
        color: #6a6a6a;
        background: none;
    }
}

.navbar-scrolling .navbar-fixed-top{
    @include transform(translate3d(0,0,0));
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a{
    color: $primary;
    background: none;
    /*border-bottom: solid 2px $primary;*/

    &:hover,&:focus,&:active{
        color: $primary;
        background: none;
    }
}

.navbar-fixed-top .dropdown-hover:hover{
    > a{
        color: #fff !important;
        background: #353736 !important;
        border-color: #353736 !important;
    }
    .dropdown-menu{
        display: block;
    }
}

.navbar-fixed-top.navbar .dropdown-menu{
    background: #353736;
    border: none;
    border-radius: 0;
}
.navbar-fixed-top.navbar .dropdown-menu > li{}
.navbar-fixed-top.navbar .dropdown-menu > li > a{
    color: #9a9a9a;
}
.navbar-fixed-top.navbar .dropdown-menu > li > a:hover{
    color: #e9e9e9;
    background: darken(#353736, 2%);
}

/* /SCROLLING */

.ls-container .ls-title{
    font-size: 42px;
    font-size: 4.2rem;
    line-height: 44px;
    line-height: 4.4rem;
    margin-bottom: 25px;
    color: #fff;
    letter-spacing: 0.04rem;
}
.ls-container .ls-text{
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 26px;
    line-height: 2.6rem;
    margin-bottom: 25px;
    color: #DADFE7;
    letter-spacing: 0.04rem;
    font-weight: 300;
}

.painel-mini{
    border-left: solid 1px #E0E0E2;
    padding: 20px 20px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;

    &:last-child{
        border-right: solid 1px #E0E0E2;
    }
}
.painel-mini .painel-mini-title{
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 22px;
    line-height: 2.2rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: $primary;
    @include transition(color .1s ease);
}
.painel-mini .painel-mini-text{
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 16px;
    line-height: 1.6rem;
    color: #6a6a6a;
    @include transition(color .1s ease);
}

.painel-mini:hover{
    -webkit-perspective: 900;
    text-decoration: none;

    .painel-mini-title{
        color: #ff7632;
        /*@include transform(translate3d(0,-2px,0));*/
    }
    .painel-mini-text{
        /*@include transform(translate3d(0,-2px,0));*/
    }
}

.section-shadow{
    position: relative;
    z-index: 500;
    box-shadow: 0px 2px 15px rgba(0,0,0,.35);
}

.panel-default{
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.13);
    background: #f5f5f5
}

.panel-default > .panel-heading{
    color: #7a7a7a;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    font-weight: 400;
    border:none;
    background: #EAEAEA;
}

.list-vagas > li{
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: solid 1px #e9e9e9;

    &:last-child{
        border-bottom: none;
    }
}

.list-vagas a{
    color: $link-color;
    text-decoration: none;
    color: #5a5a5a;
}
.list-vagas strong{
}
.list-vagas small{
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 16px;
    line-height: 1.6rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #9a9a9a;
}
.list-vagas p{
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 18px;
    line-height: 1.8rem;
    font-weight: 400;
    margin-bottom: 0;
}

.section-painel{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 50px 15px;
    background: #2a2a2a;
    box-shadow: inset 1px 0 0 rgba(255,255,255,0.1);
}

/*.section-dark:before{
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #ADB400 transparent;
    display: block;
    width: 0;
    z-index: 1;   
}*/

.section-painel p{
    color: #fff;
}

.section-painel-wrap{
    position: relative;
}
.section-painel-wrap:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #333;
}

.list{
    padding: 0 0 0 15px;
    margin: 0;
    list-style-image: url('../img/assets/list-arrow.png');
}
.list > li{
    margin: 0 0 12px;
}
.list > li a{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    line-height: 2rem;
    font-weight: 400;
    /*letter-spacing: 0.04rem;*/
}

.page-hero + .pag-section{
    padding-top: 90px;
}

#footer .section-group{
    padding: 0 15px;
    border-left: solid 1px rgba(255,255,255,0.05);
}

.form label{
    text-transform: uppercase;
    color: #9a9a9a;
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 600;
}

.form .section-title{
    margin: 50px 0 6px;

    h2{
        margin: 0;
        text-transform: none;
        font-size: 20px;
        font-weight: 400;
    }
}

.form .form-control{
    padding: 14px 16px;
}

.list li .bugdet{
    position: relative;
    top: -2px;
    margin: 0 6px;
    background: rgb(31, 170, 255);
    box-shadow: 0 2px 0 rgb(28, 143, 213);
    padding: 4px 6px;
    line-height: 9px;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
}

.list-2{

    > li {
        margin: 0;
        padding: 6px 0;
        border-bottom: solid 1px #f5f5f5;

        a{
            color: #234f92;
            font-size: 14px;
            font-size: 1.2rem;
            line-height: 18px;
            line-height: 1.8rem;
            font-weight: 600;
        }
    }

}

.page-oportunidades_sebrae{

    .section-title{
        margin: 0 0 20px;

        > p{
            margin: 0;
        }
    }

    .list > li{
        margin: 0 0 4px;
    }
}

.navbar-form.filter_list{
    padding: 0;
    margin: 0 0 20px;
    position: relative;
    width: 100%;

    input{
        width: 100%;
        padding: 18px 80px 18px 18px;
        border-radius: 2px 0 0 2px;
        box-shadow: none;
        vertical-align: top;
        border-right: none;
    }
    .btn{
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px 18px;
        border-radius: 0 2px 2px 0;
    }
}